body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headshot {
    width: 150px;
    height: 150px;
}

#person {
    position: relative;
}

article {
    /* 用gird 20% 20% 20% 20% 20% */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: absolute;
    top: 0;
    left: -2000px;
}

.show {
    position: static;
}

#intro-big {
    display: flex;
}