* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* web basic */
header {
    padding-block: 20px;
}

nav {
    padding-block: 20px;
}

nav > a {
    margin-inline: 20px;
    text-decoration: none;
    border: 0;
    color: black;
}

nav > a:hover {
    border-block-end: 1px solid blue ;
    color: blue;
}

#cover {
    inline-size: 100vw;
    block-size: 50vh;
    background: rgb(54, 54, 54);
}

