* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* web basic */
header {
    padding-block: 20px;
}

nav {
    padding-block: 20px;
}

nav > a {
    margin-inline: 20px;
    text-decoration: none;
    border: 0;
    color: black;
}

nav > a:hover {
    border-block-end: 1px solid blue ;
    color: blue;
}

/* drama-show */
#cover {
    inline-size: 100vw;
    block-size: 50vh;
    background: rgb(54, 54, 54);
}

/* group */
#group-nav {
    padding-block: 20px;
    display: flex;
}

.button {
    border: 0;
    background: none;
    font-size: 20px;
    border: 1px solid transparent;
}

.button:hover {
    border-color:black;
}

/* person */
.headshot {
    inline-size: 140px;
    block-size: 140px;
}

#person {
    position: relative;
}

article {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
}

section {
    margin-inline: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name, .title {
    margin: auto;
}

.name { 
    font-size: 25px;
    letter-spacing: 10px;
}

.title {
    color: red;
}

.group-show {
    position: static;
}

/* intro */
.intro {
    inline-size: 100vw;
    block-size: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.95); */
}

.intro-left {
    inline-size: 400px;
    block-size: 400px;
}

.intro-right {
    background: white;
    block-size: 400px;
    padding-inline-start: 10px;
    /* overflow-y: scroll;  */
}

.intro-title, .intro-name {
    /* margin: 5%, 0; */
}

.intro-title {
    block-size: 5%;
}

.intro-name {
    block-size: 10%;
}

.intro-text {
    margin: 0;
    inline-size: 500px;
    block-size: 80%;
    overflow-y: scroll;
}

.person-show {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
}

/* tool */
.hide {
    position: absolute;
    inset-block-start: -100vh;
    inset-inline-start: -150vw;
}